.framer {
    display: flex;
    gap: 20px;
    padding: 40px 40px 0px;
    justify-content: center;
    align-items: center;
}

.framerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.framerImg {
    border-radius: 20px;
    height: 500px;
    width: 700px;
}